html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: black;
}

h1 {
  font-size: 5rem;
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0;
  margin-bottom: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.site-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-body {
  width: 100rem;
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}
